
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_session</title>
</head>
<body>
    <h2>CERRO SESIÓN</h2>
</body>
</html>
